/* global variable */
:root{
    --nav-text-cl: #000;
    --nav-bg: #fffbf5e1;
    --nav-dropdown-bg: #fffbf5e1;
    --nav-icon-cl: rgba(0, 0, 0,0.7);
    --page-content-bg: #F0ECE5;
    --card-bg: #f2f2f2 ;
    --cardheader-bg: #F7EFE5;
    --card-icon-cl: ;
    --primary-bg: #0069D9;
    --text-cstm-cl: #000;
    --text-50-color: rgb(0, 0, 0,0.5);
    --form-input: ;
    --thead-custom-bg: #cfccc6;
    --thead-custom-cl: rgba(0,0,0,0.6);
    

}
.nav-bg {
    background-color: var(--nav-bg) !important;
}
.nav-text-cl {
    color: var(--nav-text-cl) !important;
}
.nav-dropdown-bg{
   background-color: var( --nav-dropdown-bg);
        
}
.nav-icon-cl{
    color: var(--nav-icon-cl) !important;
}
.text-cstm-cl {
    color: var(--text-cstm-cl);
}
.thead-custom-bg{
    background-color: var(--thead-custom-bg) !important;
}
.thead-custom-cl{
    color: var(--thead-custom-cl) !important;
}
body{
    min-height: 100vh;
}
.mobilemenuclose{
    display: none;
}
.vertical-nav{
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
}
.page-content{
    background-color: var(--page-content-bg);
    width: calc(100% - 17rem);
    min-height: 100vh;
    margin-left: 17rem;
    transition: all 0.4s;
}
.mobilebutton{
    display: none;
}
.btn2{
    display: none;
}
#sidebarCollapseIn, #sidebarCollapseOut{
    position: fixed;
    z-index: 1;
}
#sidebarCollapseIn.collapseinbtnac{
    display:none !important;
    transition: all 0.6s;
}
#sidebarCollapseIn.collapseinbtnde{
    display:block !important;
    transition: all 0.6s;
}
#sidebarCollapseOut.btn2{
    display: none;
    transition: all 0.6s;
}
#sidebarCollapseOut.collapsebtnde{
    /* background-color: #292e49 !important; */
    display:block !important;
    transition: all 0.6s;
}
#sidebar.active{
    margin-left: -17rem;
}
#content.active{
    width: 100%;
    margin: 0;
}
.nav-link{
    color:var(--nav-text-cl);
}
.nav-link i {
    color:var(--nav-icon-cl) !important;
} 
#sales .bg-dark-50, #purchase .bg-dark-50{
    background-color:#21262b !important;
}
.activemenu, .nav-link:hover{
    background-color: #F7EFE5;
    color: var(--nav-text-cl);
}
.form-control{
    background-color:transparent !important;
    color: var(--text-cstm-cl) !important;
}
td{
    color: #878f96;
}
.card{
    background-color: var(--card-bg) !important;
    backdrop-filter: blur(4px) saturate(190%) !important;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px rgb(250, 249, 249);
}
.card-header{
    background-color: var(--cardheader-bg) !important;
}
.card-title{
    color: var( --text-50-color) !important;
}
@media (max-width: 768px){
    .mobilemenuclose{
        display: block;
    }
    #sidebar{
        margin-left: -17rem;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #content{
        width:100%;
        margin: 0;
    }
    #content.action{
        margin-left: 17rem;
        width: cal(100% - 17rem);
    }
}